#background-image {
    background-image: url(images/D548B498-AC8B-4009-90B4-34A7DABDB688.JPG);
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  footer {
    clear: both;
    
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    align-items: center; /* Yeni eklendi */
}  

body {
  transform: scale(2.5);
  transform-origin: top left;
}



@media screen and (max-width: 767px) {
  /* Center the content vertically and horizontally */
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  /* Adjust the width of the content */
  .content {
    width: 90%;
  }

  /* Adjust the height of the spacer */
  .spacer {
    height: 200px;
  }

  /* Adjust the font size of the header */
  header h1 {
    font-size: 28px;
  }

  /* Adjust the font size of the thank you message */
  #thankYouMessage h3 {
    font-size: 24px;
  }

  #thankYouMessage p {
    font-size: 16px;
  }

  /* Center the form elements */
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  label {
    font-size: 16px;
  }

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }

  button[type="submit"] {
    font-size: 16px;
    padding: 10px 20px;
  }
}

